body,html{
    height: 100%;
}
  #wrapper{
  min-height:100%;

}
#page{
  min-height:85vh;
  margin-top: 3%;
}

#footer{
  position: relative;
 
}

#responsive {
  width: 40%;
  height: auto;
}

.navbar-toggler{
  color: #ff0080;
}
.nav-link:hover {
  color: #495057;
  /* font-size: 20px;
  font-weight: 700; */

}
.nav-link {
  color: #ff0080;
  font-size: 20px;
  font-weight: 600; 

}
.navbar-brand:hover{
  color: #ff0080;
  font-size: 30px;
  font-weight: 900;
 
}
.navbar-brand{
  color: #495057;
  font-size: 30px;
  font-weight: 900;
 
}
a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}