body,html {
    height: 100%;
    background-color: #F0F2F3;
}
  #wrapper{
  min-height:100%;

}
#page{
  min-height:85vh;
  margin-top: 3%;
}

#footer{
  position: relative;
 
}

#responsive {
  width: 40%;
  height: auto;
}

.navbar-toggler{
  color: #ff0080;
}
.nav-link:hover {
  color: #495057;
  /* font-size: 20px;
  font-weight: 700; */

}
.nav-link {
  color: #ff0080;
  font-size: 20px;
  font-weight: 600; 

}
.navbar-brand:hover{
  color: #ff0080;
  font-size: 30px;
  font-weight: 900;
 
}
.navbar-brand{
  color: #495057;
  font-size: 30px;
  font-weight: 900;
 
}
a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

#parrafo {
  display: block;
  letter-spacing: 3px;
}

/* .Container{
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
} */
.Container-dark {
  background-color: #495057;
  color: #F0F2F3;
}
.Container-light {
  background-color: #F0F2F3;
  color: #495057;
}